<h3>Cadastro de folha de pagamento</h3>
<div id="mes">
    <label for="mes">Mês: </label>
    <input type="text" name="mes" [(ngModel)]="mes">
</div>

<div id="ano">
    <label for="ano">Ano: </label>
    <input type="text" name="ano" [(ngModel)]="ano">
</div>

<div id="horas">
    <label for="horas">Horas: </label>
    <input type="text" name="horas" [(ngModel)]="horas">
</div>

<div id="valorHora">
    <label for="valorHora">Valor da hora trabalhada: </label>
    <input type="text" name="valorHora" [(ngModel)]="valorHora">
</div>

<div id="funcionarioId">
    <label for="funcionarioId">ID do funcionário: </label>
    <input type="text" name="funcionarioId" [(ngModel)]="funcionarioId">
</div>



<button (click)="cadastrarFolha()">Cadastrar folha de pagamento</button>